body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    #titre{
        #city{
            #submit{
                #day{
                    width: 100vw;
                    background-color: rgb(237, 40, 40);
                    #one{
                        background-color: aqua;
                    }
                    #two{
                        background-color: azure;
                    }
                    #three{
                        background-color: aqua;
                    }
                    #four{
                        background-color: aqua;
                    }
                    #five{
                        background-color: aqua;
                    }
                }
            }
        }
    }
}