@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap");
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Hanken Grotesk", sans-serif;
  background: linear-gradient(180deg, rgb(2, 0, 36) 0%, rgb(25, 25, 149) 33%, rgb(105, 213, 235) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body #form {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
body #form #titre {
  color: white;
}
@media screen and (min-width: 1024px) {
  body #form #titre {
    font-size: 350%;
  }
}
body #form #city {
  border: none;
  border-radius: 5px;
  background-color: rgb(246, 246, 246);
  padding: 1%;
  margin-bottom: 5%;
}
@media screen and (min-width: 1024px) {
  body #form #city {
    width: 50%;
    font-size: 100%;
  }
}
body #form #submit {
  border: none;
  border-radius: 5px;
  background-color: rgb(246, 246, 246);
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 10%;
}
@media screen and (min-width: 1024px) {
  body #form #submit {
    width: 20%;
    font-size: 100%;
    font-weight: 700;
  }
}
body #day {
  display: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  body #day {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}
body #day #one {
  display: none;
  width: 70%;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4.8px);
          backdrop-filter: blur(4.8px);
  border: none;
  color: white;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  body #day #one {
    width: 40%;
    margin-top: 5%;
  }
}
body #day #one .name {
  font-size: 150%;
}
@media screen and (min-width: 1024px) {
  body #day #one .name {
    font-size: 300%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #one .date {
    font-size: 350%;
  }
}
body #day #one .tempGen {
  font-size: 200%;
}
@media screen and (min-width: 1024px) {
  body #day #one .tempGen {
    font-size: 300%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #one .tempMin {
    font-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #one .tempMax {
    font-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #one .desc {
    font-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #one .icon {
    width: 40%;
  }
}
body #day #two {
  display: none;
  margin-top: 5%;
  width: 70%;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4.8px);
          backdrop-filter: blur(4.8px);
  border: none;
  color: white;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  body #day #two {
    width: 40%;
    margin-top: 5%;
  }
}
body #day #two .name {
  font-size: 150%;
}
@media screen and (min-width: 1024px) {
  body #day #two .name {
    font-size: 300%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #two .date {
    font-size: 350%;
  }
}
body #day #two .tempGen {
  font-size: 200%;
}
@media screen and (min-width: 1024px) {
  body #day #two .tempGen {
    font-size: 300%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #two .tempMin {
    font-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #two .tempMax {
    font-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #two .desc {
    font-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #two .icon {
    width: 40%;
  }
}
body #day #three {
  display: none;
  margin-top: 5%;
  width: 70%;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4.8px);
          backdrop-filter: blur(4.8px);
  border: none;
  color: white;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  body #day #three {
    width: 40%;
    margin-top: 5%;
  }
}
body #day #three .name {
  font-size: 150%;
}
@media screen and (min-width: 1024px) {
  body #day #three .name {
    font-size: 300%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #three .date {
    font-size: 350%;
  }
}
body #day #three .tempGen {
  font-size: 200%;
}
@media screen and (min-width: 1024px) {
  body #day #three .tempGen {
    font-size: 300%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #three .tempMin {
    font-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #three .tempMax {
    font-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #three .desc {
    font-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #three .icon {
    width: 40%;
  }
}
body #day #four {
  display: none;
  margin-top: 5%;
  width: 70%;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4.8px);
          backdrop-filter: blur(4.8px);
  border: none;
  color: white;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  body #day #four {
    width: 40%;
    margin-top: 5%;
  }
}
body #day #four .name {
  font-size: 150%;
}
@media screen and (min-width: 1024px) {
  body #day #four .name {
    font-size: 300%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #four .date {
    font-size: 350%;
  }
}
body #day #four .tempGen {
  font-size: 200%;
}
@media screen and (min-width: 1024px) {
  body #day #four .tempGen {
    font-size: 300%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #four .tempMin {
    font-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #four .tempMax {
    font-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #four .desc {
    font-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #four .icon {
    width: 40%;
  }
}
body #day #five {
  display: none;
  margin-top: 5%;
  width: 70%;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4.8px);
          backdrop-filter: blur(4.8px);
  border: none;
  color: white;
  text-align: center;
  margin-bottom: 5%;
}
@media screen and (min-width: 1024px) {
  body #day #five {
    width: 40%;
    margin-top: 5%;
  }
}
body #day #five .name {
  font-size: 150%;
}
@media screen and (min-width: 1024px) {
  body #day #five .name {
    font-size: 300%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #five .date {
    font-size: 350%;
  }
}
body #day #five .tempGen {
  font-size: 200%;
}
@media screen and (min-width: 1024px) {
  body #day #five .tempGen {
    font-size: 300%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #five .tempMin {
    font-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #five .tempMax {
    font-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #five .desc {
    font-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #five .icon {
    width: 40%;
  }
}/*# sourceMappingURL=style.css.map */