@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap");
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Hanken Grotesk", sans-serif;
  background: linear-gradient(180deg, rgb(2, 0, 36) 0%, rgb(25, 25, 149) 33%, rgb(105, 213, 235) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body #form {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
body #form #titre {
  color: white;
}
@media screen and (min-width: 1024px) {
  body #form #titre {
    font-size: 350%;
  }
}
body #form #city {
  border: none;
  border-radius: 5px;
  background-color: rgb(246, 246, 246);
  padding: 1%;
  margin-bottom: 5%;
}
@media screen and (min-width: 1024px) {
  body #form #city {
    width: 50%;
    font-size: 100%;
  }
}
body #form #submit {
  border: none;
  border-radius: 5px;
  background-color: rgb(246, 246, 246);
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 10%;
}
@media screen and (min-width: 1024px) {
  body #form #submit {
    width: 20%;
    font-size: 100%;
    font-weight: 700;
  }
}
body #day {
  display: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  body #day {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}
body #day #one {
  display: none;
  width: 70%;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4.8px);
          backdrop-filter: blur(4.8px);
  border: none;
  color: rgb(237, 237, 237);
  text-align: center;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  body #day #one {
    width: 40%;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
  }
}
body #day #one #blur {
  width: 80%;
  height: 90%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(42, 42, 42, 0.48);
  border-radius: 10px;
}
@media screen and (min-width: 1024px) {
  body #day #one #blur {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
body #day #one #blur .name {
  font-size: 150%;
}
@media screen and (min-width: 1024px) {
  body #day #one #blur .name {
    font-size: 300%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #one #blur .date {
    font-size: 350%;
  }
}
body #day #one #blur .tempGen {
  font-size: 200%;
}
@media screen and (min-width: 1024px) {
  body #day #one #blur .tempGen {
    font-size: 300%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #one #blur .tempMin {
    font-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #one #blur .tempMax {
    font-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #one #blur .desc {
    font-size: 100%;
  }
}
body #day #one #blur .icon {
  padding-bottom: 10%;
}
@media screen and (min-width: 1024px) {
  body #day #one #blur .icon {
    width: 40%;
  }
}
body #day #two {
  display: none;
  margin-top: 5%;
  width: 70%;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4.8px);
          backdrop-filter: blur(4.8px);
  border: none;
  color: rgb(237, 237, 237);
  text-align: center;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  body #day #two {
    width: 40%;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
  }
}
body #day #two #blur {
  width: 80%;
  height: 90%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(42, 42, 42, 0.48);
  border-radius: 10px;
}
@media screen and (min-width: 1024px) {
  body #day #two #blur {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
body #day #two #blur .name {
  font-size: 150%;
}
@media screen and (min-width: 1024px) {
  body #day #two #blur .name {
    font-size: 300%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #two #blur .date {
    font-size: 350%;
  }
}
body #day #two #blur .tempGen {
  font-size: 200%;
}
@media screen and (min-width: 1024px) {
  body #day #two #blur .tempGen {
    font-size: 300%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #two #blur .tempMin {
    font-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #two #blur .tempMax {
    font-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #two #blur .desc {
    font-size: 100%;
  }
}
body #day #two #blur .icon {
  padding-bottom: 10%;
}
@media screen and (min-width: 1024px) {
  body #day #two #blur .icon {
    width: 40%;
  }
}
body #day #three {
  display: none;
  margin-top: 5%;
  width: 70%;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4.8px);
          backdrop-filter: blur(4.8px);
  border: none;
  color: rgb(237, 237, 237);
  text-align: center;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  body #day #three {
    width: 40%;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
  }
}
body #day #three #blur {
  width: 80%;
  height: 90%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(42, 42, 42, 0.48);
  border-radius: 10px;
}
@media screen and (min-width: 1024px) {
  body #day #three #blur {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
body #day #three #blur .name {
  font-size: 150%;
}
@media screen and (min-width: 1024px) {
  body #day #three #blur .name {
    font-size: 300%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #three #blur .date {
    font-size: 350%;
  }
}
body #day #three #blur .tempGen {
  font-size: 200%;
}
@media screen and (min-width: 1024px) {
  body #day #three #blur .tempGen {
    font-size: 300%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #three #blur .tempMin {
    font-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #three #blur .tempMax {
    font-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #three #blur .desc {
    font-size: 100%;
  }
}
body #day #three #blur .icon {
  padding-bottom: 10%;
}
@media screen and (min-width: 1024px) {
  body #day #three #blur .icon {
    width: 40%;
  }
}
body #day #four {
  display: none;
  margin-top: 5%;
  width: 70%;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4.8px);
          backdrop-filter: blur(4.8px);
  border: none;
  color: rgb(237, 237, 237);
  text-align: center;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  body #day #four {
    width: 40%;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
  }
}
body #day #four #blur {
  width: 80%;
  height: 90%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(42, 42, 42, 0.48);
  border-radius: 10px;
}
@media screen and (min-width: 1024px) {
  body #day #four #blur {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
body #day #four #blur .name {
  font-size: 150%;
}
@media screen and (min-width: 1024px) {
  body #day #four #blur .name {
    font-size: 300%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #four #blur .date {
    font-size: 350%;
  }
}
body #day #four #blur .tempGen {
  font-size: 200%;
}
@media screen and (min-width: 1024px) {
  body #day #four #blur .tempGen {
    font-size: 300%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #four #blur .tempMin {
    font-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #four #blur .tempMax {
    font-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #four #blur .desc {
    font-size: 100%;
  }
}
body #day #four #blur .icon {
  padding-bottom: 10%;
}
@media screen and (min-width: 1024px) {
  body #day #four #blur .icon {
    width: 40%;
  }
}
body #day #five {
  display: none;
  margin-top: 5%;
  width: 70%;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4.8px);
          backdrop-filter: blur(4.8px);
  border: none;
  color: rgb(237, 237, 237);
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
@media screen and (min-width: 1024px) {
  body #day #five {
    width: 40%;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
  }
}
body #day #five #blur {
  width: 80%;
  height: 90%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(42, 42, 42, 0.48);
  border-radius: 10px;
}
@media screen and (min-width: 1024px) {
  body #day #five #blur {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
body #day #five #blur .name {
  font-size: 150%;
}
@media screen and (min-width: 1024px) {
  body #day #five #blur .name {
    font-size: 300%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #five #blur .date {
    font-size: 350%;
  }
}
body #day #five #blur .tempGen {
  font-size: 200%;
}
@media screen and (min-width: 1024px) {
  body #day #five #blur .tempGen {
    font-size: 300%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #five #blur .tempMin {
    font-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #five #blur .tempMax {
    font-size: 150%;
  }
}
@media screen and (min-width: 1024px) {
  body #day #five #blur .desc {
    font-size: 100%;
  }
}
body #day #five #blur .icon {
  padding-bottom: 10%;
}
@media screen and (min-width: 1024px) {
  body #day #five #blur .icon {
    width: 40%;
  }
}/*# sourceMappingURL=style.css.map */